<html>
  <head>
    <style>
      .container { height: 100%; width: 100%; align: center; text-align: center;
      } .line { padding: 20px 10px; }
    </style>
  </head>
  <body>
    <main class='container'>
      <h1>Comprovante de Agendamento - Agendify</h1>
      <div>
        <span>Nome: {{name}}</span>
      </div>
      <div>
        <span>Data: {{date}}</span>
      </div>
      <div>
        <span>Horário: {{time}}</span>
      </div>
      <div>
        <span>Estabelecimento: {{businessName}}</span>
      </div>
    </main>
  </body>
</html>